<style>
    footer {
        background-color: #3f3f3f;
        color: #d5d5d5;
        padding-top: 2rem;
    }

    hr.light {
        border-top: 1px solid #d5d5d5;
        width: 75%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    footer a {
        color: #d5d5d5;
    }

    hr.light-100 {
        border-top: 1px solid #d5d5d5;
        width: 100%;
        margin-top: .8rem;
        margin-bottom: 1rem;
    }
</style>

<footer>
    <div class="container-fluid">
        <div class="row text-center justify-content-center align-items-center">
            <div class="col-4">
                <a href="/"><img src="/img/logo.png" class="img-fluid" width="200px" height="200px"></a>
            </div>
            <div class="col-8">
                <hr class="light">
                <h5>JongLe'Livre Bookstore</h5>
                <hr class="light">
                <p>jonglelivre@gmail.com</p>
                <p>227 Nguyen Van Cu</p>
                <p>District 5, Ho Chi Minh City</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Team HKTDV</h5>
            </div>
        </div>
    </div>
</footer>