<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/style/admin/sidebar.css">

<nav>
    <div class="col-10 sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard" id="page-title"></span>
    </div>
    <div class="col-2 ml-auto profile-details" style="width:10%; padding: 0 10px;">
        <a class="admin_name" href="/admin/create">Create</a>
        <i class='bx bx-user-plus' ></i>
    </div>
</nav>
<script src="/script/admin/navbar.js"></script>