<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/style/admin/sidebar.css">
<div class="sidebar">
    <div class="logo-details">
        <i class="bx bx-my-icon"></i>
        <span class="logo_name"><a href="/" style="text-decoration: none; color: #fff;">JongLe'Livre</a></span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/admin" id="Dashboard">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/admin/products" id="Products">
                <i class='bx bx-box'></i>
                <span class="links_name">Products</span>
            </a>
        </li>
        <li>
            <a href="/admin/orders" id="Orders">
                <i class='bx bx-list-ul' ></i>
                <span class="links_name">Orders list</span>
            </a>
        </li>
        <li>
            <a href="/admin/users" id="Users">
                <i class='bx bx-user'></i>
                <span class="links_name">Users</span>
            </a>
        </li>
        <li class="log_out">
            <a href="/users/logout">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
