<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | JongLe'Livre</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/img/logo.ico">
    <link href="/style/header.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/syle.css">

    <!-- JS files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">
                        <%= error.status %>
                    </h1>
                </div>
                <hr>
                <div class="col-12">
                    <p class="lead">
                        <%= message %>
                    </p>
                </div>
                <div class="col-12">
                    <pre><%= error.stack %></pre>
                </div>

            </div>
        </div>
</body>
</html>